
auth0-python==4.8.0
azure-common==1.1.28
azure-core==1.32.0
azure-identity==1.15.0
backoff==2.2.1
crewai==0.100.1
crewai-tools==0.33.0
langchain==0.3.17
langchain-cohere==0.3.5
langchain-community==0.3.16
langchain-core==0.3.33
langchain-experimental==0.3.4
langchain-openai==0.2.11
langchain-text-splitters==0.3.5
langsmith==0.1.147
onnxruntime==1.20.1
openai==1.55.3
python==3.10.15
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
